<form class='form-inline' id='colour-form' role='form' action='<%= request.path %>' method='get'>
  <div class='row'>
    <div class='col-md-12 well'>

    <% [
      'primary',
      'secondary',
      'tertiary'
    ].each do |level| %>

      <% inst_var = instance_variable_get "@#{level}" %>
        <div class='row'>
          <span class='col-md-2'>
            <%= level %>
          </span>
          <div class='col-md-10'>
            <% palette.each_pair do |name, hex| %>
              <input type='radio' name='<%= level %>' value='<%= hex[1..-1] %>' id='<%= "#{level}-#{name}" %>'<% if inst_var == hex[1..-1] %> checked<% end %> />
              <label for='<%= "#{level}-#{name}" %>' style='color: <%= hex %>'>
                <span class="fa-stack">
                  <i class="fa fa-check-square fa-stack-1x"></i>
                  <i class="fa fa-square-o fa-stack-1x"></i>
                </span>
              </label>
            <% end %>
          </div>
        </div>

    <% end %>
  </div>

  <div class="row">
    <div class='form-group pull-right'>
      <button type='submit' class='btn btn-primary'>Submit</button>
    </div>
  </div>
</form>
