<form class='form-inline' role='form' action='<%= request.path %>' method='get'>
  <div class='row'>

    <% [
      'primary',
      'secondary',
      'tertiary'
    ].each do |level| %>

      <% inst_var = instance_variable_get "@#{level}" %>

      <div class='col-md-4 well'>
        <h2><%= level %></h2>
        <% palette.each_pair do |name, hex| %>
          <label class='radio' style='color: <%= hex %>'>
            <input type='radio'
                   name='<%= level %>'
                   value='<%= hex[1..-1] %>'
                   <% if inst_var == hex[1..-1] %>
                    checked
                  <% end %>>
                  <%= name %>
          </label>
        <% end %>
      </div>

    <% end %>
  </div>

  <div class="row">
    <div class='form-group pull-right'>
      <button type='submit' class='btn btn-primary'>Submit</button>
    </div>
  </div>
</form>
