<form class='form-inline' id='colour-form' role='form' action='<%= request.path %>' method='get'>
  <div class='row'>
    <div class='col-md-1'></div>
    <div class='col-md-10 well'>

      <% [
        'primary',
        'secondary',
        'tertiary'
      ].each do |level| %>

        <% inst_var = instance_variable_get "@#{level}" %>

          <%= level %>
          <select name='<%= level %>' class='form-control'>
          <% palette.each_pair do |name, hex| %>
            <option value='<%= hex[1..-1] %>'
                    <% if inst_var == hex[1..-1] %>
                    selected
              <% end %> style='color: <%= hex %>'>
              <%= name %>
            </option>
          <% end %>
          </select>

      <% end %>

      <div class='form-group pull-right'>
        <button type='submit' class='btn btn-primary'>Submit</button>
      </div>
    </div>

    <div class='col-md-1'></div>

  </div>

</form>
