<form id='configuration' class='form-inline'>
  <div class='tabbable'>
    <ul class='nav nav-tabs'>
      <li class='active'>
        <a href='#colours' data-toggle='tab'>Colours</a>
      </li>
      <li>
        <a href='#file-format' data-toggle='tab'>File format</a>
      </li>
      <li>
        <a href='#embed' data-toggle='tab'>Embed this</a>
      </li>
    </ul>
    <div class='tab-content'>
      <div class='tab-pane active' id='colours'>
        <h2>Colours</h2>
        <div class='form-group well'>
          <% [
            'primary',
            'secondary',
            'tertiary'
          ].each do |level| %>
            <% inst_var = instance_variable_get "@#{level}" %>
            <div class='row'>
              <span class='col-md-1'>
                <%= level %>
              </span>
              <div class='col-md-11'>
                <% palette.each_pair do |name, hex| %>
                  <input type='radio' name='<%= level %>' value='<%= hex[1..-1] %>' id='<%= "#{level}-#{name}" %>'<% if inst_var == hex[1..-1] %> checked<% end %> />
                  <label for='<%= "#{level}-#{name}" %>' style='color: <%= hex %>'>
                    <span class='fa-stack'>
                      <i class='fa fa-check-square fa-stack-1x'></i>
                      <i class='fa fa-square-o fa-stack-1x'></i>
                    </span>
                  </label>
                <% end %>
              </div>
            </div>

          <% end %>
        </div>
      </div>
      <div class='tab-pane' id='file-format'>
        <h2>File format</h2>
        <div class='form-group'>
          <% [
            'svg',
            'png'
          ].each do |format| %>
            <input type='radio' name='file_format' value='<%= format %>' id='<%= format %>'<% if format == @file_format %> checked<% end %> />
            <label for='<%= format %>'>
              <span class='fa-stack'>
                <i class='fa fa-check-square fa-stack-1x'></i>
                <i class='fa fa-square-o fa-stack-1x'></i>
              </span>
              <%= format %>
            </label>
          <% end %>
        </div>
      </div>
      <div class='tab-pane' id='embed'>
        <h2>URL for this configuration</h2>
        <div class='well' id='url'></div>
      </div>
    </div>
  </div>
</form>

<script>
  var params = {
    'primary': '<%= @primary %>',
    'secondary': '<%= @secondary %>',
    'tertiary': '<%= @tertiary %>',
    'file_format': 'svg'
  }
  var path = '<%= request.env["REQUEST_PATH"] %>'
  refresh()

  $('input:radio').change(function(data) {
    params[data.target.name] = data.target.value
    refresh()
  });

  function refresh() {
    var url = window.location.origin + path + '.' + params['file_format'] + '?primary=' + params['primary'] + '&secondary=' + params['secondary'] + '&tertiary=' + params['tertiary']
    $('#logo').html("<img height='200' src='" + url + "'>")
    $('#url').text(url)
  }
</script>
