<form id='configuration' class='form'>
  <div class='tabbable'>
    <%= erb :'includes/form/nav-tabs', locals: {
      tabs: [
        'variant'
      ]
    }
    %>
    <div class='tab-content'>
      <div class='tab-pane active' id='variant'>
        <h2>Variant</h2>
        <div class='form-group'>
          <% [
            'inside',
            'outside'
          ].each do |location| %>
            <input type='radio' name='word_location' value='<%= location %>' id='<%= location %>'<% if location == @word_location %> checked<% end %> />
            <label for='<%= location %>'>
              <%= erb :'includes/form/check-box' %>
              Word <%= location %>
            </label>
          <% end %>
        </div>
      </div>
      <%= erb :'includes/form/file-type' %>
      <%= erb :'includes/form/embed' %>
    </div>
  </div>
</form>

<script>
  var params = {
    'word_location': '<%= @word_location %>',
    'file_format': 'svg'
  }
</script>

<%= erb :'includes/form/javascripts', locals: {
  height: nil
} %>
