<form id='configuration' class='form'>
  <div class='tabbable'>
    <%= erb :'includes/form/nav-tabs', locals: {
      tabs: [
        'variant'
      ]
    }
    %>
    <div class='tab-content'>
      <div class='tab-pane active' id='variant'>
        <h2>Variant</h2>
        <div class='form-group'>
          <% [
            'inside',
            'outside'
          ].each do |location| %>
            <input type='radio' name='word_location' value='<%= location %>' id='<%= location %>'<% if location == @word_location %> checked<% end %> />
            <label for='<%= location %>'>
              <span class='fa-stack'>
                <i class='fa fa-check-square fa-stack-1x'></i>
                <i class='fa fa-square-o fa-stack-1x'></i>
              </span>
              Word <%= location %>
            </label>
          <% end %>
        </div>
      </div>
      <%= erb :'includes/form/file-type' %>
      <%= erb :'includes/form/embed' %>
    </div>
  </div>
</form>

<script>
  var params = {
    'word_location': '<%= @word_location %>',
    'file_format': 'svg'
  }
  var path = '<%= request.env["REQUEST_PATH"] %>'
  refresh()

  $('input:radio').change(function(data) {
    params[data.target.name] = data.target.value
    refresh()
  });

  function refresh() {
    var url = window.location.origin + path + '.' + params['file_format'] + '?word=' + params['word_location']
    $('#logo').html("<img src='" + url + "'>")
    $('#url').val(url)
  }

  var clipboard = new Clipboard('.btn');
</script>
