<div class='tab-pane' id='file-type'>
  <h2>File type</h2>
  <div class='form-group'>
    <% [
      'svg',
      'png'
    ].each do |format| %>
      <input type='radio' name='file_format' value='<%= format %>' id='<%= format %>'<% if format == @file_format %> checked<% end %> />
      <label for='<%= format %>'>
        <%= erb :'includes/form/check-box' %>
        <%= format %>
      </label>
    <% end %>
  </div>
</div>
