<?xml version="1.0"?>
<svg width="640" height="480" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
 <!-- Created with SVG-edit - http://svg-edit.googlecode.com/ -->
 <defs>
  <svg viewBox="0 0 1190.6 841.9" y="0px" x="0px" id="svg_1" xmlns:xlink="http://www.w3.org/1999/xlink">
   <metadata/>
   <switch>
    <foreignObject height="1" width="1" y="0" x="0"/>
    <g>
     <g>
      <path d="m714,337.200012v52c-4,-11.200012 -10.400024,-21.100006 -18.900024,-29.200012c-7.699951,-7.299988 -16.799988,-13 -27.299988,-16.899994c-10.599976,-4 -22.299988,-6 -34.799988,-6l-72.200012,0v52.299988c-4.200012,-10.600006 -10.599976,-20.299988 -18.899963,-28.600006c-16.100037,-16.099976 -37.400024,-24.899994 -60.100037,-24.899994c-22.699982,0 -44,8.800018 -60.099976,24.899994c-16.100006,16.100006 -24.900024,37.400024 -24.900024,60.100006c0,22.700012 8.800018,44 24.900024,60.100006c16.099976,16.100006 37.399994,24.899994 60.099976,24.899994c22.700012,0 44,-8.799988 60.100037,-24.899994c8.299988,-8.299988 14.599976,-18 18.899963,-28.600006v52.100006l72.200012,0c12.5,0 24.200012,-2 34.799988,-6c10.400024,-3.899994 19.600037,-9.600006 27.299988,-16.899994c8.5,-8.100006 14.800049,-18 18.900024,-29.200012v52.200012h79.599976v-167.399994h-79.599976l0,0z" fill="#<%= @primary %>"/>
      <g>
       <path d="m519.299988,400.899994h8l10.299988,39.200012h-6.5l-2.399963,-9.600006h-11.5l-2.5,9.600006h-6.5l11.099976,-39.200012zm8.299988,24.700012l-4.5,-19.300018h-0.099976l-4.700012,19.300018h9.299988l0,0z" fill="#<%= @secondary %>"/>
       <path d="m541.799988,400.899994h6.299988v34h15.200012v5.300018h-21.399963v-39.300018l-0.100037,0z" fill="#<%= @secondary %>"/>
       <path d="m574.900024,400.899994v28.100006c0,5 2,7.100006 5.799988,7.100006c3.700012,0 5.700012,-2.100006 5.700012,-7.100006v-28.100006h6.299988v27.600006c0,9.100006 -4.5,12.399994 -12,12.399994c-7.5,0 -12,-3.299988 -12,-12.399994v-27.600006h6.200012l0,0z" fill="#<%= @secondary %>"/>
       <path d="m600.900024,400.899994h9.799988l6.899963,29.100006h0.100037l6.799988,-29.100006h9.599976v39.200012h-5.899963v-32.600006h-0.200012l-7.900024,32.600006h-5.299988l-7.899963,-32.600006h-0.100037v32.600006h-5.899963v-39.200012l0,0z" fill="#<%= @secondary %>"/>
       <path d="m642.700012,400.899994h7.599976l11.400024,29.200012h0.099976v-29.200012h5.900024v39.200012h-7.600037l-11.399963,-30h-0.100037v30h-5.899963v-39.200012l0,0z" fill="#<%= @secondary %>"/>
       <path d="m676.200012,400.899994h6.299988v39.200012h-6.299988v-39.200012l0,0z" fill="#<%= @secondary %>"/>
      </g>
     </g>
    </g>
   </switch>
  </svg>
 </defs>
 <g>
  <title>Layer 1</title>
  <use x="-8.869633" y="-7.646235" transform="matrix(2.990898779773668,0,0,2.990898779773668,-608.4305368532052,-552.0879061278112) " id="svg_2" xlink:href="#svg_1"/>
 </g>
</svg>
