<?xml version="1.0"?>
<svg width="640" height="480" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
 <!-- Created with SVG-edit - http://svg-edit.googlecode.com/ -->
 <defs>
  <svg viewBox="0 0 1190.6 841.9" y="0px" x="0px" id="svg_1" xmlns:xlink="http://www.w3.org/1999/xlink">
   <metadata/>
   <switch>
    <foreignObject height="1" width="1" y="0" x="0"/>
    <g>
     <g>
      <path d="m714,337.200012v52c-4,-11.200012 -10.400024,-21.100006 -18.900024,-29.200012c-7.699951,-7.299988 -16.799988,-13 -27.299988,-16.899994c-10.599976,-4 -22.299988,-6 -34.799988,-6l-72.200012,0v52.299988c-4.200012,-10.600006 -10.599976,-20.299988 -18.899963,-28.600006c-16.100037,-16.099976 -37.400024,-24.899994 -60.100037,-24.899994c-22.699982,0 -44,8.800018 -60.099976,24.899994c-16.100006,16.100006 -24.900024,37.400024 -24.900024,60.100006c0,22.700012 8.800018,44 24.900024,60.100006c16.099976,16.100006 37.399994,24.899994 60.099976,24.899994c22.700012,0 44,-8.799988 60.100037,-24.899994c8.299988,-8.299988 14.599976,-18 18.899963,-28.600006v52.100006l72.200012,0c12.5,0 24.200012,-2 34.799988,-6c10.400024,-3.899994 19.600037,-9.600006 27.299988,-16.899994c8.5,-8.100006 14.800049,-18 18.900024,-29.200012v52.200012h79.599976v-167.399994h-79.599976l0,0z" fill="#<%= @primary %>"/>
      <g>
       <path d="m495.799988,428.700012v1c0,5 2.200012,7.5 6.700012,7.5c4,0 6.200012,-3 6.200012,-5.900024c0,-4.299988 -2.200012,-6.199982 -5.800018,-7.199982l-4.399994,-1.5c-5.899994,-2.300018 -8.5,-5.399994 -8.5,-11.200012c0,-7.399994 5.100006,-11.5 12.700012,-11.5c10.399963,0 11.5,6.5 11.5,10.700012v0.899994h-6.5v-0.899994c0,-3.700012 -1.600006,-5.899994 -5.700012,-5.899994c-2.799988,0 -5.5,1.5 -5.5,5.899994c0,3.5 1.799988,5.199982 6.100006,6.899994l4.399994,1.600006c5.799988,2.100006 8.299988,5.100006 8.299988,10.799988c0,8.700012 -5.199982,12.300018 -13.5,12.300018c-10.099976,0 -12.399994,-6.700012 -12.399994,-12.400024v-1h6.399994l0,-0.099976z" fill="#<%= @secondary %>"/>
       <path d="m522.599976,400.600006h12.900024c7.799988,0 11.200012,4.899994 11.200012,11.899994c0,7.299988 -4.299988,12 -11.900024,12h-5.700012v16.799988h-6.5v-40.699982l0,0zm6.5,19h4.600037c3.5,0 6.5,-1.800018 6.5,-7c0,-4.399994 -1.799988,-7.100006 -7,-7.100006h-4.200012v14.100006l0.099976,0z" fill="#<%= @secondary %>"/>
       <path d="m552.900024,400.600006h22v5.5h-15.5v11.299988h14.599976v5.5h-14.599976v13h16v5.5h-22.5v-40.799988l0,0z" fill="#<%= @secondary %>"/>
       <path d="m590.299988,400.600006h8.299988l10.700012,40.699982h-6.799988l-2.5,-10h-11.900024l-2.599976,10h-6.799988l11.599976,-40.699982zm8.700012,25.5l-4.700012,-20.100006h-0.099976l-4.799988,20.100006h9.599976l0,0z" fill="#<%= @secondary %>"/>
       <path d="m614.700012,400.600006h6.5v17.699982h0.099976l12.299988,-17.699982h7.100037l-11.700012,17.199982l13,23.5h-7.400024l-9.899963,-18.299988l-3.600037,5.100006v13.199982h-6.5v-40.699982l0.100037,0z" fill="#<%= @secondary %>"/>
       <path d="m645.099976,400.600006h22v5.5h-15.5v11.299988h14.600037v5.5h-14.600037v13h16v5.5h-22.5v-40.799988l0,0z" fill="#<%= @secondary %>"/>
       <path d="m674.799988,400.600006h14.400024c5.700012,0 10.299988,2.899994 10.299988,10.5c0,5.199982 -2.299988,9.299988 -6.799988,10v0.100006c4.099976,0.399994 6.200012,2.599976 6.399963,8.299988c0.100037,2.700012 0.100037,5.799988 0.200012,8.299988c0.200012,2 1.100037,2.900024 1.900024,3.5h-7.400024c-0.599976,-0.699982 -0.899963,-2 -1.099976,-3.599976c-0.100037,-1.200012 -0.200012,-2.5 -0.200012,-3.600006s-0.099976,-2.600006 -0.099976,-4c-0.200012,-4.399994 -1.5,-6.399994 -5.900024,-6.399994h-5.299988v17.699982h-6.5v-40.799988l0.099976,0zm11.700012,18.100006c4.200012,0 6.5,-2.5 6.5,-6.600006c0,-4.300018 -1.799988,-6.600006 -6.200012,-6.600006h-5.5v13.200012h5.200012l0,0z" fill="#<%= @secondary %>"/>
      </g>
     </g>
    </g>
   </switch>
  </svg>
 </defs>
 <g>
  <title>Layer 1</title>
  <use x="11.903923" y="-7.702538" transform="matrix(2.856201314699421,0,0,2.856201314699421,-636.8345637206976,-526.0775414054175) " id="svg_2" xlink:href="#svg_1"/>
 </g>
</svg>
