<?xml version="1.0"?>
<svg width="400" height="400" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
 <!-- Created with SVG-edit - http://svg-edit.googlecode.com/ -->
 <defs>
  <svg transform="matrix(0.9933199383811129,0,0,0.9933199383811129,-209.52904849444167,-150.34067131378833) " viewBox="0 0 960 560" y="0px" x="0px" id="svg_1" xmlns:xlink="http://www.w3.org/1999/xlink">
   <metadata/>
   <switch>
    <foreignObject height="1" width="1" y="0" x="0"/>
    <g>
     <rect height="170" width="196.6" fill="none" y="195" x="381.7"/>
     <g>
      <path d="m578.299988,327.100006h-14.599976v-5.199982h-42.700012c17.799988,-12.800018 29.400024,-33.600006 29.400024,-57.200012c0,-38.900009 -31.5,-70.400009 -70.400024,-70.400009s-70.399994,31.5 -70.399994,70.400009c0,23.600006 11.600006,44.399994 29.399994,57.200012h-42.700012v5.199982h-14.599976l12.899963,18.600006l-12.899963,18.600006h39.699982v-5.200012h117.100006v5.200012h39.700012l-12.900024,-18.600006l13,-18.600006z" fill="#<%= @primary %>"/>
      <g>
       <path d="m449,286.600006c5.700012,0 11,-2.199982 15,-6.199982c2.100006,-2.100006 3.700012,-4.5 4.700012,-7.100006v13l18,0c3.099976,0 6,-0.5 8.699982,-1.5c2.600006,-1 4.899994,-2.399994 6.800018,-4.200012c2.099976,-2 3.699982,-4.5 4.699982,-7.299988v13h19.899994v-41.900024h-19.799988v13c-1,-2.799988 -2.600006,-5.299988 -4.700012,-7.299988c-1.899994,-1.800003 -4.199982,-3.300003 -6.799988,-4.200012c-2.700012,-1 -5.600006,-1.5 -8.700012,-1.5l-18,0v13.100006c-1.099976,-2.599991 -2.599976,-5.099991 -4.699982,-7.099991c-4,-4 -9.300018,-6.199997 -15,-6.199997s-11,2.199997 -15,6.199997c-4,4 -6.200012,9.399979 -6.200012,15.000015s2.200012,11 6.200012,15c3.899994,3.999969 9.199982,6.199982 14.899994,6.199982z" fill="#<%= @secondary %>"/>
       <path d="m443.200012,334h-1.899994v6.600006h2.199982c1.600006,0 3,-0.800018 3,-3.300018c-0.100006,-2 -0.899994,-3.299988 -3.299988,-3.299988z" fill="#<%= @secondary %>"/>
       <path d="m460.799988,333.600006c-1.799988,0 -3.200012,1.100006 -3.200012,7.5c0,6.5 1.400024,7.600006 3.200012,7.600006s3.200012,-1.100006 3.200012,-7.600006c0,-6.399994 -1.399994,-7.5 -3.200012,-7.5z" fill="#<%= @secondary %>"/>
       <path d="m399,324.600006v31.899994h162v-31.899994h-162l0,0zm27.100006,26.399994c-4.700012,0 -5.800018,-3.100006 -5.800018,-5.799988v-0.5h3v0.5c0,2.299988 1,3.5 3.100006,3.5c1.899994,0 2.899994,-1.400024 2.899994,-2.800018c0,-2 -1,-2.899994 -2.699982,-3.399994l-2.100006,-0.700012c-2.799988,-1.099976 -4,-2.5 -4,-5.199982c0,-3.5 2.399994,-5.399994 5.899994,-5.399994c4.899994,0 5.399994,3 5.399994,5v0.399994h-3v-0.399994c0,-1.700012 -0.699982,-2.700012 -2.699982,-2.700012c-1.300018,0 -2.5,0.700012 -2.5,2.700012c0,1.599976 0.799988,2.399994 2.799988,3.199982l2,0.700012c2.700012,1 3.800018,2.399994 3.800018,5c0.099976,4.299988 -2.300018,5.899994 -6.100006,5.899994zm17.799988,-8.200012h-2.699982v7.800018h-3v-19h6c3.599976,0 5.199982,2.299988 5.199982,5.5c0.100006,3.5 -1.899994,5.699982 -5.5,5.699982zm16.899994,8.200012c-4.399994,0 -6.299988,-3.100006 -6.299988,-9.799988s1.899994,-9.800018 6.299988,-9.800018s6.300018,3.100006 6.300018,9.800018s-2,9.799988 -6.300018,9.799988zm24.5,-0.299988h-3.699982l-5.5,-14.5h-0.100006v14.5h-2.899994v-19h3.699982l5.5,14.099976h0.100006v-14.099976h2.899994v19l0,0zm11.700012,0.299988c-4.700012,0 -5.799988,-3.100006 -5.799988,-5.799988v-0.5h3v0.5c0,2.299988 1,3.5 3.099976,3.5c1.900024,0 2.900024,-1.400024 2.900024,-2.800018c0,-2 -1,-2.899994 -2.700012,-3.399994l-2.100006,-0.700012c-2.799988,-1.099976 -4,-2.5 -4,-5.199982c0,-3.5 2.399994,-5.399994 5.899994,-5.399994c4.900024,0 5.400024,3 5.400024,5v0.399994h-3v-0.399994c0,-1.700012 -0.700012,-2.700012 -2.700012,-2.700012c-1.299988,0 -2.5,0.700012 -2.5,2.700012c0,1.599976 0.799988,2.399994 2.799988,3.199982l2,0.700012c2.700012,1 3.800018,2.399994 3.800018,5c0.100006,4.299988 -2.300018,5.899994 -6.100006,5.899994zm18,0c-4.399994,0 -6.299988,-3.100006 -6.299988,-9.799988s1.899994,-9.800018 6.299988,-9.800018c4.400024,0 6.299988,3.100006 6.299988,9.800018s-2,9.799988 -6.299988,9.799988zm21.299988,-0.299988c-0.299988,-0.300018 -0.399963,-0.900024 -0.5,-1.700012c-0.099976,-0.600006 -0.099976,-1.100006 -0.099976,-1.700012c0,-0.599976 0,-1.199982 -0.100037,-1.899994c-0.099976,-2.100006 -0.699951,-3 -2.799988,-3h-2.5v8.200012h-3v-19h6.700012c2.700012,0 4.799988,1.399994 4.799988,4.899994c0,2.399994 -1.099976,4.299988 -3.200012,4.600006v0.100006c1.900024,0.199982 2.900024,1.199982 3,3.899994c0,1.199982 0,2.699982 0.100037,3.799988c0.099976,0.899994 0.5,1.399994 0.899963,1.600006h-3.299988l0,0.200012z" fill="#<%= @secondary %>"/>
       <path d="m533,334h-2.599976v6.200012h2.399963c1.900024,0 3,-1.200012 3,-3.100006c0,-2 -0.799988,-3.100006 -2.799988,-3.100006z" fill="#<%= @secondary %>"/>
       <path d="m515,333.600006c-1.799988,0 -3.200012,1.100006 -3.200012,7.5c0,6.5 1.400024,7.600006 3.200012,7.600006s3.200012,-1.100006 3.200012,-7.600006c0,-6.399994 -1.400024,-7.5 -3.200012,-7.5z" fill="#<%= @secondary %>"/>
      </g>
     </g>
    </g>
   </switch>
  </svg>
 </defs>
 <g>
  <title>Layer 1</title>
  <use x="-89.923695" y="-89.044245" transform="matrix(4.548300660292173,0,0,4.548300660292173,-307.01135354352886,-311.3420257432167) " id="svg_2" xlink:href="#svg_1"/>
 </g>
</svg>
